// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.header {
	font-weight:bold;
	font-variant:small-caps;
	margin-bottom:5px;
	font-size:20px;
}

div.field {
	font:arial;
	margin-bottom:10px;
	width:200px;
}

div.result {
	width:100%;
	clear:both;
}

div.pagination-results {
	float:right;
}

div.pagination-controls {
	float:left;
	width:500px;
}

div.pagination-control {
	float:left;
	margin-right:15px;
}

div.space { 
	margin-bottom:5px;
	clear:both;
}

div.result-value {
	float:left;
}

div.result-header {
	float:left;
	font-weight:bold;
	font-variant:small-caps;
}

div.result-artist { 
	width:23%;
}
div.result-album {
	width:23%;
}
div.result-counter {
	width:2%;
}

div.result-song {
	width:50%;
}

label {
	font-variant:small-caps;
}